<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head><style>
    .Back{

            padding: 5px;
            color: #333;
            text-align: center;
        }
</style>
<body>
<div>
    <h1>Movies</h1>
    <ul>
        <li> <a href="StarRating.html"> soorarai pottru </a></li>
        <li><a href="StarRating.html">Ayan </a></li>
        <li><a href="StarRating.html">Vaaranam Aayiram </a></li>
    </ul>
</div>
<div class="Back">
    <a href="dashboard.html">Back</a>
</div>

</body>
</html>