<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>UserLogin</title>
</head><style>
    .login{
              padding: 250px;
              color: #333;
              text-align: center;
          }
</style>
<body>

<form
        th:action="@{/UserLogin}"
        method="post"
        role="form"
        th:object="${user}"
>
</form>
<form class="login">
    Email:
    <input th:field="*{Email}" type="text"   placeholder="Email"><br>
    <br>
    Password:
    <input th:field="*{password}" type="password" placeholder="Password">
    <br>
    <br>
   <div class="Login">
    <a href="dashboard.html">Login</a>
    </div>
</form>
</body>
</html>